{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'form_components/css/style.css' %}"
    />
  </head>
  <body class="container">
    <h1 class="display-4 text-primary">{{ title }}</h1>
    <form action="{% url 'pulldown' %}" method="post">
      {% csrf_token %} {{ form.as_p }}
      <!-- as_pで生成するフィールド全体を<p>でくくって出力するための機能がFormクラスにはある -->
      <input type="submit" value="click" class="btn btn-primary my-2" />
    </form>
    <p class="h5 mt-4">{{ message|safe }}</p>
    {% if result is None %}
    
    {% else %}
    <p class="h5 mt-4">{{ result|safe }}</p>
    {% endif %}
    <!-- |safeをつけると、エスケープ処理を行わず、HTMLタグはそのままタグとして書き出されるようになる -->
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"
  ></script>
  </body>
</html>