body{
    background: url(../images/home-images/body_background2.jpg) no-repeat center/cover;
}
.outerwrap{
    padding: 1rem;
}

.innerwrap{
    margin-top: 3rem;
    border-radius: 999px;
}
.topic{
    padding-top: 2rem;
}
.topic h2{
    display: inline-block;
    -webkit-text-stroke: 0.5px black; /* 枠線の幅と色を指定 */
    color: white;
}
.topic img{
    display: inline-block;
    width: 5%;
    margin-left: 1rem;
}

.subtitle1{
    -webkit-text-stroke: 0.5px black; 
    color: white;
}


